In [10]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
import os

# gmaps API Keys
from config import gkey

In [11]:
#grab all csv files

#atlcrime
path = os.path.join('..','Resources','atlcrime.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

C:\Users\Rabia.000\Documents\Downloads\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,crime,number,date,location,beat,neighborhood,npu,lat,long
0,LARCENY-NON VEHICLE,103040029,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895
1,AUTO THEFT,103040061,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680
2,LARCENY-FROM VEHICLE,103040169,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774
3,AUTO THEFT,103040174,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674
4,LARCENY-NON VEHICLE,103040301,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626

In [23]:
#AtlCrime2016: Rabia
path = os.path.join('..','Resources','AtlCrime2016.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)

#AtlCrime2016:-Split Date column into day, month, and year to be able to call Visual Crossing API- Rabia
dsplit = df['date'].apply(lambda x: x.split("/"))
months = []
days = []
years = []

for item in dsplit:
    months.append(item[0])
    days.append(item[1])
    years.append(item[2])

#Create Month, Day and Year columns
df['Month'] = months
df['Day'] = days
df['Year'] = years

#AtlCrime2016: Rabia
crime = df.loc[df['Year']=='2016']
crime.reset_index(drop =True, inplace=True)
crime.head()

In [9]:
#burglary- Rabia
path = os.path.join('..','Resources','burglary.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Month,Day,Crime Count,Avg_Temp,Humidity,Precip,Wind_Speed,Conditions
0,1,1,6,42.8,67.84,0.0,13.3,Partially cloudy
1,1,2,15,40.0,58.12,0.0,13.8,Partially cloudy
2,1,3,7,42.2,54.95,0.0,12.7,Partially cloudy
3,1,4,13,38.5,53.05,0.0,16.7,Clear
4,1,5,10,34.6,44.61,0.0,12.6,Clear

In [10]:
#homicide: Rabia
path = os.path.join('..','Resources','homicide.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Month,Day,Crime Count,Avg_Temp,Humidity,Precip,Wind_Speed,Conditions
0,1,6,1,36.4,40.56,0.00,15.6,Partially cloudy
1,1,8,1,51.1,85.55,0.23,9.9,"Rain, Overcast"
2,1,13,1,39.0,47.92,0.00,11.5,Clear
3,1,16,1,50.8,71.44,0.00,11.5,Partially cloudy
4,1,21,1,43.1,83.70,0.45,12.8,"Rain, Overcast"

In [11]:
#larceny: Isaiah
path = os.path.join('..','Resources','larceny.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Month,Day,Crime Count,Avg_Temp,Humidity,Precip,Wind_Speed,Conditions
0,1,1,21,42.8,67.84,0.0,13.3,Partially cloudy
1,1,2,28,40.0,58.12,0.0,13.8,Partially cloudy
2,1,3,24,42.2,54.95,0.0,12.7,Partially cloudy
3,1,4,29,38.5,53.05,0.0,16.7,Clear
4,1,5,27,34.6,44.61,0.0,12.6,Clear

In [12]:
#rape: Isaiah
path = os.path.join('..','Resources','rape.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Month,Day,Crime Count,Avg_Temp,Humidity,Precip,Wind_Speed,Conditions
0,1,1,1,42.8,67.84,0.00,13.3,Partially cloudy
1,1,7,1,50.1,56.86,0.00,11.7,Overcast
2,1,8,1,51.1,85.55,0.23,9.9,"Rain, Overcast"
3,1,10,1,41.3,73.85,0.06,18.3,"Rain, Overcast"
4,1,13,1,39.0,47.92,0.00,11.5,Clear

In [13]:
#robbery: Isaiah
path = os.path.join('..','Resources','robbery.csv')
df = pd.read_csv(path)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Month,Day,Crime Count,Avg_Temp,Humidity,Precip,Wind_Speed,Conditions
0,1,1,3,42.8,67.84,0.0,13.3,Partially cloudy
1,1,2,3,40.0,58.12,0.0,13.8,Partially cloudy
2,1,3,5,42.2,54.95,0.0,12.7,Partially cloudy
3,1,4,5,38.5,53.05,0.0,16.7,Clear
4,1,5,4,34.6,44.61,0.0,12.6,Clear

In [14]:
#For each csv file:

#1. pick 5 highest crime rate
#2. Find nearby icecream shops for each crime on each date 
    #shops per coordinate
    #take max shops from those coordinates  
#4. Correlate crime count vs number of shops
#5 set up additional columns to hold information: shop name, address, rating, coordinates, #Rabia and Isaiah:

In [ ]:
#NOTES:

#Notebook for Crime and Ice-Cream Shops Data Wrangling

#ASSUMPTIONS
#We are only using 2016 date
#For weather we consider below fields:
  #Temperature
  #Pressure
  #Humidity
  #Wind
  #Precipitation
  #Clouds
#We are only focusing on top crime


#SEPARATE for crime count vs weather Carlos, Doris
#1. Agregate data based on crime count -> Larceny-from vehicle
#2. Agregate by date
#3. Get weather data per date
#4. Test correlations

#SEPARATE for crime count vs ice-cream shop Rabia, Isaiah 
#1. Agregate data based on crime count -> Larceny-from vehicle
#2. Agregate by date to get crime count ->5
#2. Add number of shops per coordinate per date -> take max count
#3. Correlate crime count vs number of shops

#VISUALIZATIONS & HYPOTHESIS TESTING FOR CRIME vs WEATHER
#location map of of count of crimes in Atlanta (put in the first part)
#pie chart of all types of crimes
#bar plot of LARCENY-FROM VEHICLE	 count per month in 2016
#ditplot of crime count
#distplot of max temps & each weather variable (pressure,humidity, wind, precipitation, cloud)
#scatter plot of crime count per date vs temperature
#scatter plot of crime count per date vs each weather variable (pressure,humidity, wind, precipitation, cloud)

#VISUALIZATIONS & HYPOTHESIS TESTING FOR CRIME vs ICE-CREAM
#distplot of ice-crem shop count
#scatter plot of crime count per date vs ice-cream shop count
#gplot of crime with max temp and ice-cream shop vcicnity (pick one row)

#CONCLUSION & OBSERVATIONS
#Result of testing hypothesis
#fun facts!